*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    }

    a{
    text-decoration: none;
    }

    nav{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
   
    }

    .logoimage{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    }
   
    nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    }

    nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
    }

    .search-field{
    display: flex;
    gap: 30px;
    }

    input{
    padding: 4px 10px;
    }

    section{
    height: 100vh;
    width: 100vw;
    margin-bottom: 5rem;
    }

    #hero-section{
    display: flex;
    align-items: center;
    gap: 50px;
    
    
    }

    .hero-left-section{
    width: 50%;
    padding: 10%;
    }

    .hero-left-section h1{
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 20px;
    }

    .hero-left-section h1 span{
    color: rgb(18, 155, 155);
    font-weight: 900;
    background-color: #dedee0;
    padding: 0 15px;
    }

    .hero-left-section p{
    font-weight:500;
    font-size: 30px;
    }

    .hero-left-section p span{
    font-size: 25px;
    font-weight: 700;
    color: rgb(18, 155, 155);
    }

    .hero-right-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    gap: 30px;
    }

    .hero-right-section-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    }

    .hero-right-section img{
    height: 300px;
    width: 300px;
    border-radius: 20%;
    }

    button{
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    width: fit-content;
    }

    button:hover{
    background-color:white;
    color: rgb(18, 155, 155);
    border: 1px solid black;
    }
  
    .about_me h1{
    text-align: center;
    }

    .text{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    }

    .know_more{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .know_more-left{
    width: 50%;
    padding: 10%;
    }

    .know-more-right{
    width: 45%;
    padding: 10%;
    }

    .know_more-right h3{
    text-align: center;
    margin: 5rem;
    }

    .skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    }

    .skills_skill{
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color:rgba(153,153,153,0.2);
    font-size:1.6rem ;
    font-weight: 600;
    color: #777;
    }

    .projects-title{
    text-align: center;
    margin-bottom: 2rem;
    }

    .projects-subtitle{
    text-align: center;
    margin-bottom: 2rem;
    }

    .projects-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-items: center;
    }

    .projects-img-cont{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    }

    .projects-img{
    object-fit: cover;
    }

    .projects-explain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    }


    # contact {
    background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center; 
    }
       
    #contact .main-container{
      text-align: center;
      font-size: large;
      margin-bottom: 2rem;
    }

    #contact .main-container-text{
      text-align: center;
      margin-bottom: 2rem;
    }
    .contact__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 2rem;
    margin-top: 3rem;
    max-width: 60rem;
    text-align: right;
    width: 60%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
    }
          
    .contact__form-field {
    margin-bottom: 2rem;
    }

    .contact__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
    }
        
    .contact__form-input {
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    }
          
    .contact__form-input::placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;
    }
          
    .contact__form-input::-webkit-input-placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1rem;
    }
    
    .contact__btn {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    }

    .main-footer {
    background: sienna;
    color: #0d1701;
    }
        
    .main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0; 
    }
          
    .main-footer__row-1 {
    order: 2; 
    }
          
    .main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem; 
    }
        
    .main-footer__short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7; }
        .main-footer__social-cont {
          margin-top: 2rem; }
        .main-footer__icon {
          margin-right: 1rem;
          width: 2.5rem; }
          .main-footer__icon--mr-none {
            margin-right: 0; }


    